@import "style.css";

.title-card {
  display:grid;
  align-items: center; 
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
  background-color: #cfe2f3ff;
  padding: 5px;
}

.column1 {
  /* float: left; */
  padding: 5px 40px 5px 40px;
  margin: 5px;
}

.column1 img {
  width: page/5;
  height: auto/5;
  /* size: fluid; */
  /* object-fit: cover; */
}

.column2 {
  /* float: left; */
  width: 60%;
  padding: 10px 5px;
}

.map {
  align-items: left; 
  background-color: white;
  /* padding: 5px; */
}

/* Hover -------------------------------------- */
/* .hover-text p { 
  position: relative;
  bottom: 100%;
  transform: translate(5%, -450%);
  float: left;
  opacity: 0;
  font-size: 16px;
  font-weight:700;
  color: black;
  padding: 10px 50px 10px 0px;
} */

.map-container {
  background-color: #cfe2f3ff;
}

.map-container p {
  padding: 0px 10px 15px 10px;
}

/* .map-container:hover img {
  opacity:60%;
} */
.map-container:hover .hover-text p { 
  opacity: 100%; /* Show text on hover */ 
  text-align: left;
} 
/* \Hover -------------------------------------- */

.map-button {
  /* float: center;
  text-align: center; */
  float: left;
  text-align: left;
  /* padding: 20px; */
  padding: 10px 5px;
  text-decoration: none;
}

.map-button a {
  color: #00539f;
  padding: 12px;
  text-decoration: none;
  font-size: 16px;
  line-height: 25px;
  border-radius: 15px;
  background-color: #f1f1f1;
}

.map-button a:hover {
  background-color: #00539f;
  color: white;
}


@media screen and (max-width: 900px) {
  .map-button a {
    font-size: 10px;
  }
}