@import "style.css";

.row {
  display:grid;
  align-items: center; 
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
  padding: 2px;
}

.row2 {
display: grid;
align-items: center; 
grid-template-columns: 1fr;
padding: 2px;
}

.row3 {
  display: block;
}

.column {
float: left;
padding: 5px;
}

#miller, #habib, #hangar {
  background-color: #cfe2f3ff;
  padding: 12px 15px;
}

.alone {
  padding: 0px 9px;
}

.glow-button {
  background-color: #cfe2f3ff; /* Light blue */
  color: #0061a8;
  font-size: 11px;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  /* box-shadow: 0 0 5px rgba(74, 144, 226, 0.7);  */
  /* Glow effect */
}

.pages {
  padding: 20px;
  background-color: white;
  align-items: center;
  justify-content:space-evenly;
}

.pages a {
  float: center;
  text-decoration: none;
  text-align: center;
  display: center;
}

/* Hover effect (glow) */
.glow-button:hover {
  box-shadow: 0 0 20px rgba(74, 144, 226, 1); /* Stronger glow */
  background-color: #5aabf7; /* Slightly lighter blue on hover */
  color: white;
}

/* Active (clicked) effect */
.glow-button:active {
  background-color: #0061a8; /* Dark blue when clicked */
  box-shadow: 0 0 10px rgba(0, 97, 168, 0.8); /* Darker glow */
}

@media screen and (max-width: 600px) {
  .pages {
    display: block;
    background-color: #cfe2f3ff;
  }
  .glow-button {
    font-size: 8px;
    display: block;
    padding: 20px;
  }
}
/* or 300 and 8px */

#hangar img:hover {
  transform: scale(1.04);
  transition: transform .6s;
  box-shadow: 0 0 10px white;
}

#habib .linked:hover {
  transform: scale(1.04);
  transition: transform .6s;
  box-shadow: 0 0 10px white;
}

#hangar, #habib p {
  padding: 0px 10px 10px 20px;
}

#habib img {
  width: 600px;
}